<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Une question ? un avis ? un bug à signaler ? Une fonctionnalité manquante ?</h2>
                <hr class="primary">
                <p></p>
            </div>
    
	        <div class="col-lg-2 col-lg-offset-1 text-center">
	            <a href="mailto:{{ site.email }}">
	            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.email }}</p>
	            </a>
	        </div>
	        <div class="col-lg-2 col-lg-offset-1 text-center">
	            <a href="mailto:{{ site.developers_email }}">
	            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.developers_email }}</p>
	            </a>
	        </div>

	        <div class="col-lg-2 col-lg-offset-1 text-center">
	            <a href="https://gitlab.inria.fr/doris/doris-android/issues">
	            <i class="fa fa-bug fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>Signaler un bug directement sur notre tracker (ou bien connaitre l'avancée des développements)</p>
	            </a>
	        </div>
    	</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
			<img class="img-responsive" alt='Le rodéo de Doris' src='img/header_1.jpg'/>
        </div>
    </div>
</section>
